@font-face {
  font-family: 'Athletics';
  font-style: normal;
  src: url('/font/Athletics Black.otf') format('truetype');
  src: url('/font/Athletics Bold.otf') format('truetype');
  src: url('/font/Athletics ExtraBold.otf') format('truetype');
  src: url('/font/Athletics Light.otf') format('truetype');
  src: url('/font/Athletics Medium.otf') format('truetype');
  src: url('/font/Athletics Regular.otf') format('truetype');
}

@tailwind base;
@tailwind components;

.diagonal-gd {
  background: #212531;
  background: linear-gradient(to right bottom, #fff 50%, #1b2a4e 50%);
}

.list li {
  position: relative;
  margin-left: 18px;
  margin-bottom: 8px;
}

.list li::before {
  position: absolute;
  content: '\2022';
  color: #3977de;
  font-weight: bold;
  display: inline-block;
  width: 28px;
  font-size: 28px;
  left: -18px;
}

.strt {
  background: linear-gradient(
      to bottom right,
      #307bf3,
      rgb(57, 119, 222, 0.4),
      transparent
    ),
    url('https://dojah.io/assets/images/image-cta.svg') no-repeat;
  background-size: cover;
}

@tailwind utilities;
